<option value="0">Nessuna</option>
<option{if $reference.tax2 == 20.00} selected{/if} value="20.00">Ritenuta di acconto 20%</option>
<option{if $reference.tax2 == '11.50'} selected{/if} value="11.50">Ritenuta di acconto 23% su 50%</option>