body {
	margin: 18px 0 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #000;
}

hr {
	margin-bottom: 10px;
	margin-top: 10px;
}

table {
	font-size: 12px;
	width: 100%;
}

.table.table-condensed td {
	padding-top: 1px;
	padding-bottom: 1px;
	line-height: 16px;
}

thead, tfoot {
	background-color: #F9F9F9;
}

th {
	color: #333;
}

td {
	vertical-align: top;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

td.pagination-right, th.pagination-right {
	text-align: right;
}

#head {
	margin-top: 10px;
}

#logo {
	margin-bottom: 10px;
}

#seller {
	color: #333;
	line-height: 17px;
	margin-bottom: 10px;
	width: 70%;
}

#buyer {
	color: #000;
	line-height: 17px;
	max-width: 50%;
	margin-bottom: 20px;
}

#serialNumberTitle {
	font-size: 18px;
	margin-top: 0;
	text-transform: uppercase;
}

#data {
	color: #000;
	text-transform: lowercase;
	text-transform: capitalize;
}

.black {
	color: #000;
}

.table td {
	color: #000;
}