body {
	margin: 18px 0 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 9px;
	color: #000;
}

.fontDetail { font-size: 8px; }

.red { color: #BD4E72; }

td.pagination-right, th.pagination-right {
	text-align: right;
}

.break-word { word-wrap: break-word; }